
<app-workflow-bar prefixText="Purchase Req" contextType="1000" [contextId]="model.id" workflowUrl="/purchasereq/workflow"></app-workflow-bar>

<app-foundation-view-edit-button-bar [contextId]="model.id" [contextType]="contextType" [viewMode]="false" (onSave)="save()" (onSaveClose)="saveClose()" (onDelete)="delete()"></app-foundation-view-edit-button-bar>
<app-purchase-req-view-edit-button-bar [viewMode]="false"></app-purchase-req-view-edit-button-bar>

<app-purchase-req-view-edit [id]="model.id" [viewMode]="false"></app-purchase-req-view-edit>