

<div class="form-group">   
    <label *ngIf="label" [attr.for]="identifier">{{label}}<span *ngIf="required" class="ml-1 text-danger">*</span></label>
    <div class="input-group mb-3">
        <input      
          [disabled]="disabled"   
          type="text"
          [readonly]="readonly"
          [(ngModel)]="dateValue"
          [ngClass]="{invalid: (invalid | async )}"
          class="form-control"           
          [id]="identifier"
          [attr.name]="name"   
          [bsConfig]="{dateInputFormat: 'M/D/YYYY', containerClass: 'bs-date-picker--default'}"
          bsDatepicker                     
          (ngModelChange)="onDateChange()" 
          #d="bsDatepicker"     
        />    
        <div class="input-group-append" *ngIf="!disabled && !readonly">
          <button class="btn btn-secondary" (click)="d.toggle()">
              <i class="far fa-calendar-alt fa-lg" role="button"></i>          
          </button>          
        </div>          
    </div>
    
    <input      
      type="hidden"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange()"      
    />

    
</div>
