<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary" >

    <a class="navbar-brand" href="javascript:;;" (click)="toggleMenu()">
      <i class="fas fa-bars mr-2"></i> Essential Apps
      <span *ngIf="model.environmentDescription" class="ml-1 badge badge-pill badge-warning environment-description">{{ model.environmentDescription }}</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <app-header-nav></app-header-nav>         
    </div>

    <div>
      <app-notification-bar></app-notification-bar>
    </div>
  </nav>
</header>

<div class="left-menu bg-primary" [class.active]="model.showMenu">
  <ul class="list-group">
    <li class="list-group-item"><a routerLink="/app" (click)="hideMenu()"><i class="fas fa-home mr-2"></i>Home</a></li>
    
    <ng-container *ngFor="let item of menuItems$ | async">          
      <li class="list-group-item" *ngIf="item.hasAccess$ | async">
        <a [routerLink]="item.url" (click)="hideMenu()">
          <i [class]="item.icon + ' mr-2'"></i>{{ item.title }}
        </a>
      </li>
    </ng-container>

    <li class="list-group-item border-top"><a routerLink="/logout" (click)="hideMenu()"><i class="fas fa-sign-out-alt mr-2"></i>Log Out</a></li>

    <div class="version-info">
      <span>Version: <strong>{{ model.appVersion }}</strong></span>
    </div>
  </ul>
</div>

<div class="d-none d-print-block">
  <h2>Apps</h2>
  <app-header-nav></app-header-nav>   
</div>