.left-menu {
    display: none;
    position: fixed;
    z-index: 9999;
    color: #fff;
    top: 51px;
    padding: 0 30px 0 10px;
    height: 100%;

    a {
        color: #fff;
    }

    &.active {
        display: inline-block;
    }

    .list-group-item {
        background-color: transparent;
        border: 0;
    }
}

.navbar-brand {
    padding-top: 0.1rem;    

    .fas {
        font-size: 1rem;
    }
}

.version-info {
    position: fixed;
    padding: 1rem;
    bottom: 0;
    left: 0;
}

.environment-description {
    font-size: 0.7rem;
}