.left-menu {
    display: none;
    position: fixed;
    z-index: 9999;
    color: #000;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);

    top: 50px;
    left: 5px;
    padding: 15px 20px;
    
    //height: auto;
    min-width: 400px;
    
    a {
        color: #000;
    }

    &.active {
        display: inline-block;
    }

    .list-group-item {
        background-color: transparent;
        border: 0;
        padding: 0.5rem 1.25rem;
    }

    h5 {        
        color: #000;
        //border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
    }
}

.navbar-brand {
    padding-top: 0.1rem;    
    margin-left: 12px;

    .fas {
        font-size: 1rem;
    }    
}

.version-info {
    position: fixed;
    padding: 1rem;
    bottom: 0;
    left: 0;
}

.environment-description {
    font-size: 0.7rem;
}

.img-logo {
    width: 32px;
    margin-right: 4px;
    margin-top: -4px;
}

.btn-menu-toggle {
    color: #fff;
    padding: 20px 18px;
    margin-top: -32px;
    margin-bottom: -30px;

    &.active {
        background-color: #fff;
        color: navy;
    }
}