<table class="table" *ngIf="items$ | async as items">
    <thead>
        <tr>
            <th>Item</th>
            <th>Activity</th>
            <th>Schedule</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.activity.pmItem.description }}</td>
            <td>{{ item.activity.description}}</td>
            <td>{{ item.activity.schedulingDescription }}</td>
            <td>
                <div *ngIf="item.events">
                    <button type="button" class="btn btn-sm btn-primary" *ngFor="let ev of item.events" [class.overdue]="ev.isOverdue">{{ ev.eventText }}</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>