<table class="table" *ngIf="items$ | async as items">
    <thead>
        <tr>
            <th>Item</th>
            <th>Activity</th>
            <th>Schedule</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>
                <a routerLink="/app/preventative-maintenance/items/view/{{item.activity.pmItem.id}}" target="_blank">
                    {{ item.activity.pmItem.description }}
                </a>
            </td>
            <td>
                <a routerLink="/app/preventative-maintenance/activities/view/{{item.activity.id}}" target="_blank">
                    {{ item.activity.description}}
                </a>
            </td>
            <td>{{ item.activity.schedulingDescription }}</td>
            <td>
                <div *ngIf="item.events">
                    <button type="button" class="btn btn-sm btn-primary" *ngFor="let ev of item.events" [class.overdue]="ev.isOverdue" (click)="openCompleteDialog(ev)">{{ ev.eventText }}</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>