<h2 class="mb-2">{{ 'common.summary' | translate }}</h2>
<div class="row mb-4">
    <div class="col-2">
        <app-info-box title="core.example.all"
                      entityTypeId="e1d39dfa-2940-4434-a7e4-2c85d2d2fe47"
                      entityTypeListUrl="/app/example/list"></app-info-box>
    </div>
    <div class="col-2">
        <app-info-box title="common.in-process"
                      thresholdDanger="5"
                      thresholdWarning="2"
                      entityTypeId="e1d39dfa-2940-4434-a7e4-2c85d2d2fe47"
                      [entityTypeFilter]="{status: 1}"
                      entityTypeListUrl="/app/example/list"></app-info-box>
    </div>
    <div class="col-2">
        <app-info-box title="common.completed"
                      entityTypeId="e1d39dfa-2940-4434-a7e4-2c85d2d2fe47"
                      [entityTypeFilter]="{status: 2}"
                      customListUrl="/app/example/list"
                      [customListUrlParams]="{ view: 'completed'}"></app-info-box>
    </div>
    <div class="col-2">
        <app-info-box title="core.example.finance"
                      customCountUrl="/example/getFinanceCount"
                      customListUrl="/app/example/list"
                      [customListUrlParams]="{ view: 'finance'}"></app-info-box>
    </div>
</div>

<h2 class="mb-2">{{ 'common.detail' | translate }}</h2>
<div class="row">
    <div class="col-md-6">
        <app-card-group title="{{ 'common.in-process' | translate }}"
                        class="mb-2">
            <app-entity-inner-list [entityTypeId]="exampleEntityTypeId"
                                   [filter]="{status: 1}"
                                   [sort]="{ field: 'createDateTime' }"
                                   [maxItems]="3"
                                   [columns]="exampleInnerListCols"
                                   viewLinkUrl="/app/example/view"
                                   viewAllUrl="/app/example/list"
                                   [viewAllUrlFilter]="{ status: 1 }"></app-entity-inner-list>

        </app-card-group>
    </div>
    <div class="col-md-6">
        <app-card-group title="{{ 'common.completed' | translate }}"
                        class="mb-2">
            <app-entity-inner-list [entityTypeId]="exampleEntityTypeId"
                                   [filter]="{status: 2}"
                                   [sort]="{ field: 'createDateTime' }"
                                   [columns]="exampleInnerListCols"
                                   viewLinkUrl="/app/example/view"
                                   viewAllUrl="/app/example/list"
                                   [viewAllUrlParams]="{ view: 'finance'}"></app-entity-inner-list>
        </app-card-group>
    </div>
</div>