<ul class="nav bg-light mb-2">
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/purchase-req">My Requisitions</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/purchase-req/all">All Requisitions</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/purchase-req/mytasks">My Tasks</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/purchase-req/my-templates">My Templates</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/purchase-req/all-templates">All Templates</a>
  </li>  
</ul>