<hr>
<div *ngIf="viewModel.record.id">
    <div class="row">

        <div class="col-md-3">
            <app-text-field [(ngModel)]="viewModel.record.id" [disabled]="true" label="ID" name="id"></app-text-field> 
        </div>

        <div class="col-md-3">
            <app-text-field [(ngModel)]="viewModel.record.title" [disabled]="viewMode" label="Title" name="name"></app-text-field>     
        </div>

        <div class="col-md-3">
            <app-select-field [(ngModel)]="viewModel.record.status" [disabled]="viewMode" name="status" label="Status">
                <option *ngFor="let item of statusList$ | async" [value]="item.code">{{ item.text }}</option>
            </app-select-field>        
        </div>

        <div class="col-md-3">
            <app-check-box-field [(ngModel)]="viewModel.record.checkboxField" label="Checkbox" [disabled]="viewMode" name="checkboxField"></app-check-box-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <app-number-field [(ngModel)]="viewModel.record.numberField" label="Number" [disabled]="viewMode" name="numberField"></app-number-field>
        </div>

        <div class="col-md-3">
            <app-text-field [(ngModel)]="viewModel.record.customerId" [disabled]="viewMode" label="Customer #" name="customerId"></app-text-field>     
        </div>

        <div class="col-md-3">
            <app-text-area-field [(ngModel)]="viewModel.record.customerName" [disabled]="viewMode" label="Customer name" name="customerName" rows="3"></app-text-area-field>     
        </div>

        <div class="col-md-3">
            <app-date-field [(ngModel)]="viewModel.record.dateField" [disabled]="viewMode" label="Date Field" name="dateField"></app-date-field>                 
        </div>
    </div>
</div>

<pre>viewModel.record = {{ viewModel.record | json }}</pre>