<div class="drop-area" [class.active]="state.isDraggedOn" (drop)="drop($event)" (dragover)="allowDrop($event)" (dragleave)="dragLeave()" draggable="true">  
  <div class="drop-text">
      Drop Files Here
  </div>  
  <div>
    <i class="fa fa-cloud-upload drop-icon"></i>
  </div>  
</div>

<div class="custom-file mt-md-2 mb-md-2">
  <input type="file" class="custom-file-input" #file type="file" multiple (change)="upload(file.files)">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>
