<div class="mb-2" *ngIf="model.workflow.enabled">
  <app-workflow-bar [prefixText]="model.workflow.prefixText" [entityTypeId]="model.entityTypeId" [entityId]="model.id" [workflowUrl]="model.workflow.url"></app-workflow-bar>    
</div>

<div class="d-flex mb-2">  
  <app-foundation-view-edit-button-bar 
    [entityId]="model.id" 
    [entityTypeId]="model.entityTypeId"
    [listPageUrl]="model.listPageUrl" 
    [viewMode]="model.mode == 'view'" 
    (onEdit)="edit()"
    (onSave)="save()" 
    (onSaveClose)="saveClose()" 
    (onDelete)="delete()">
  </app-foundation-view-edit-button-bar>

  <div class="mr-auto pl-2">
    <ng-content select="[controls]"></ng-content>
  </div>
</div>

<div>  
  <ng-content select="[form]"></ng-content>  
  <app-entity-view-edit></app-entity-view-edit>
  <app-record-audit-info [model]="entityRecord$ | async"></app-record-audit-info>
</div>