<div class="row">
    <div class="col-md-4">
        <app-card-group title="Details">
            <app-admin-billing-details></app-admin-billing-details>
        </app-card-group>
    </div>

    <div class="col-md-4">
        <app-card-group title="Payment Methods">
            <app-admin-billing-payment-methods></app-admin-billing-payment-methods>
        </app-card-group>
    </div>

    <div class="col-md-4">
        <app-card-group title="Subscription">
            <app-admin-billing-subscription></app-admin-billing-subscription>
        </app-card-group>
    </div>
</div>

<!-- dialogs -->
<app-admin-billing-payment-method-create-dialog></app-admin-billing-payment-method-create-dialog>