<div class="row mt-2" *ngIf="viewModel.record.id">
  <div class="col-md-12">

    <app-card-group title="Details">
      <div class="row">
        <div class="col-md-3" *ngIf="!viewModel.record.isTemplate">
          <app-text-field [(ngModel)]="viewModel.record.reqNumber" name="reqNumber" label="Req #" [disabled]="true">
          </app-text-field>
        </div>
        <div class="col-md-3" *ngIf="!viewModel.record.isTemplate">
          <app-date-field [(ngModel)]="viewModel.record.requestDate" name="requestDate" label="Request Date"
            [disabled]="viewMode"></app-date-field>
        </div>
        <div class="col-md-3">
          <app-select-field [(ngModel)]="viewModel.record.requestUserId" name="requestUserId" label="Requested by"
            [disabled]="viewMode">
            <option value="">-- Please select --</option>
            <option *ngFor="let item of userList$ | async" [value]="item.username"
              [selected]="viewModel.record.requestUserId == item.username">{{ item.name }}</option>
          </app-select-field>
        </div>
        <div class="col-md-3" *ngIf="!viewModel.record.isTemplate">
          <app-date-field [(ngModel)]="viewModel.record.requiredDate" name="requiredDate" label="Required Date"
            [disabled]="viewMode"></app-date-field>

        </div>
      </div>
    </app-card-group>

    <app-card-group title="Information">
      <div class="row">
        <div class="col-md-3">
          <app-text-field [(ngModel)]="viewModel.record.description" name="description" label="Description"
            [disabled]="viewMode"></app-text-field>
        </div>
        <div class="col-md-3">
          <app-lookup-field [(ngModel)]="viewModel.record.vendorId" name="vendorId" label="Vendor"
            [disabled]="viewMode" (onLookup)="vendorLookup.openDialog()"></app-lookup-field>
          <app-vendor-lookup-dialog #vendorLookup (onSelect)="setVendor($event)"></app-vendor-lookup-dialog>
        </div>
        <div class="col-md-3">
          <app-select-field [(ngModel)]="viewModel.record.buyerGroup" name="buyerGroup" label="Buyer Group"
            [disabled]="viewMode">
            <option value="">-- Please select --</option>
            <option *ngFor="let item of buyerGroupList$ | async" [value]="item.valueId"
              [selected]="viewModel.record.buyerGroup == item.valueId">{{ item.text }}</option>
          </app-select-field>
        </div>
        <div class="col-md-3">
          <app-check-box-field [(ngModel)]="viewModel.record.isBudgeted" label="Budgeted?" [disabled]="viewMode"
            name="isBudgeted"></app-check-box-field>
          <app-check-box-field [(ngModel)]="viewModel.record.isCapital" label="Capital?" [disabled]="viewMode"
            name="isCapital"></app-check-box-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <app-select-field [(ngModel)]="viewModel.record.projectId" name="projectId" label="Project"
            [disabled]="viewMode">
            <option value="">-- Please select --</option>
            <option *ngFor="let item of projectList$ | async" [value]="item.projectId"
              [selected]="viewModel.record.projectId == item.projectId">{{ item.projectName }}</option>
          </app-select-field>
        </div>
        <div class="col-md-3">
          <app-select-field [(ngModel)]="viewModel.record.department" name="department" label="Department"
            [disabled]="viewMode">
            <option value="">-- Please select --</option>
            <option *ngFor="let item of departmentList$ | async" [value]="item.departmentId"
              [selected]="viewModel.record.department == item.departmentId">{{ item.departmentName }}</option>
          </app-select-field>
        </div>
        <div class="col-md-3">
          <app-select-field [(ngModel)]="viewModel.record.locationId" name="locationId" label="Location"
            [disabled]="viewMode">
            <option value="">-- Please select --</option>
            <option *ngFor="let item of locationList$ | async" [value]="item.locationId"
              [selected]="viewModel.record.locationId == item.locationId">{{ item.locationName }}</option>
          </app-select-field>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </app-card-group>





    <app-card-group title="Purchasing" *ngIf="!viewModel.record.isTemplate">
      <div class="row">
        <div class="col-md-3">
          <app-text-field [(ngModel)]="viewModel.record.poNumber" name="poNumber" label="PO #" [disabled]="viewMode">
          </app-text-field>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
      </div>
    </app-card-group>

    <app-card-group title="Lines">
      <table class="table">
        <thead>
          <tr>
            <th>Item #</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Ext Price</th>
            <th style="width:100px"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of viewModel.lines | excludeDeleted; let i = index">
            <td>
              {{ item.itemId }}
              <a href="javascript:;;" class="ml-2" (click)="editLine(i, item)" *ngIf="!viewMode"><i class="fas fa-pencil-alt"></i></a>
              <a href="javascript:;;" class="ml-2" (click)="editLine(i, item)" *ngIf="viewMode"><i class="fas fa-external-link-square-alt"></i></a>
            </td>
            <td>
              {{ item.itemDescription }}
              <div *ngIf="item.note">
                <small>{{ item.notes }}</small>
              </div>              
              <div *ngIf="item.url">
                <small>
                    <a [href]="item.url" target="_blank">{{ item.url }}</a>
                </small>
              </div>
            </td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unitPrice | currency }}</td>
            <td>{{ item.extPrice | currency }}</td>
            <td>
              <button type="button" class="btn btn-link" (click)="deleteLine(i)" *ngIf="!viewMode">
                <i class="fas fa-trash-alt"></i>
              </button>              
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              <button type="button" (click)="addLine()" class="btn btn-primary" *ngIf="!viewMode">Add Line</button>
            </th>
            <th>{{ getLineTotal() | currency }}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>      
    </app-card-group>

  </div>
</div>

<app-purchase-req-line-dialog [viewMode]="viewMode"></app-purchase-req-line-dialog>