<div class="jumbotron jumbotron-fluid bg-primary text-white mb-0">
  <div class="container">
    <h1 class="display-4">{{ 'common.login.brandName' | translate }}</h1>
    <p class="lead">
      {{ 'common.login.brandDescription' | translate }}
    </p>
  </div>
</div>

<div class="login-page pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'common.login.title' | translate }}</h1>
        <p *ngIf="showInstance">
          {{ 'common.login.description.withInstance' | translate }}
        </p>
        <p *ngIf="!showInstance">
          {{ 'common.login.description.withoutInstance' | translate }}
        </p>
        <p>
          <a *ngFor="let culture of cultures$ | async" class="culture-link" href="javascript:;;" (click)="setCulture(culture)">
            <img src="/assets/culture/{{ culture }}.png" alt="{{ 'common.culture.' + culture | translate }}" />
          </a>
        </p>
      </div>
      <div class="col-md-4">

        <div class="">
          <div class="text-center">

          </div>
          <app-login></app-login>
        </div>

      </div>
    </div>
  </div>
</div>