<div class="menu-container"
     #container
     [class.active]="state.showMenu"
     (click)="onContainerClick($event)">
    <div class="left-menu">
        <ul class="list-group">

            <a class="btn-dismiss p-2"
               href="javascript:;;"
               (click)="hideMenu()"><i class="fas fa-times"></i></a>

            <h5 class="border-bottom">{{ 'common.applications' | translate }}</h5>

            <li class="list-group-item"><a routerLink="/app"
                   (click)="hideMenu()"><i class="fas fa-home mr-2"></i>Home</a>
            </li>

            <ng-container *ngFor="let item of appMenuItems$ | async">

                <li class="list-group-item"
                    *ngIf="item.hasAccess$ | async">
                    <a [routerLink]="item.url"
                       (click)="hideMenu()">
                        <i [class]="item.icon + ' mr-2'"></i>{{ item.title }}
                    </a>
                </li>
            </ng-container>

        </ul>

        <div *ngIf="setupMenuItems$ | async as setupMenuItems">
            <div *ngIf="setupMenuItems.length > 0">
                <h5 class="border-bottom mt-4">{{ 'common.setup' | translate }}</h5>
                <ul class="list-group">

                    <ng-container *ngFor="let item of setupMenuItems">
                        <li class="list-group-item"
                            *ngIf="item.hasAccess$ | async">
                            <a [routerLink]="item.url"
                               (click)="hideMenu()">
                                <i [class]="item.icon + ' mr-2'"></i>{{ item.title }}
                            </a>
                        </li>
                    </ng-container>

                </ul>
            </div>
        </div>

        <div class="mt-4">
            <h5 class="border-bottom mt-4">{{ 'common.system' | translate }}</h5>
            <div class="row">
                <div class="col-md-6">
                    <small>{{ 'common.apps-version' | translate }}: <strong>{{ model.appVersion }}</strong></small>
                </div>
                <div class="col-md-6 text-right d-none d-sm-block">
                    <small>
                        <a routerLink="/logout"
                           (click)="hideMenu()"><i class="fas fa-sign-out-alt mr-2"></i>{{ 'common.logout' | translate }}</a>
                    </small>
                </div>
            </div>
        </div>

        <div class="mt-4 d-block d-sm-none">
            <app-header-user-context-mobile></app-header-user-context-mobile>
        </div>
    </div>
</div>