<div class="form-group">
  <label *ngIf="label" [attr.for]="identifier">{{label}}<span *ngIf="required" class="ml-1 text-danger">*</span></label>
  <div class="input-group mb-3">
    <input      
      [disabled]="disabled"   
      type="text"
      [readonly]="readonly || !allowManualEntry"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      [ngClass]="{invalid: (invalid | async )}"
      class="form-control"           
      [id]="identifier"
      [attr.name]="name"            
    />
    <div class="input-group-append" *ngIf="!readonly && !disabled">      
      <button type="button" class="btn btn-secondary" (click)="lookup()">
        <i class="fas fa-search" role="button"></i>   
      </button>
    </div>
  </div>  
</div>
