<div class="form-group">
  <label *ngIf="label$ | async as labelTxt" [attr.for]="identifier">{{labelTxt}}<span *ngIf="(required$ | async) && !(disabled$ | async)" class="ml-1 text-danger">*</span></label>
  <textarea      
    [disabled]="disabled$ | async"   
    type="text"
    [readonly]="readonly"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [ngClass]="{invalid: (invalid | async )}"
    class="form-control"           
    [id]="identifier"
    [attr.name]="name"  
    [rows]="rows"          
  ></textarea>
</div>
