

.footer-spacer {    
    display: inline-block;
    width: 100%;
    height: 20px;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

@media print {

    .bg-light {
        background-color: transparent !important;

        a {
            color: #000;
        }
    }
}