@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* You can add global styles to this file, and also import other style files */
 body1 {
     padding-top: 57px;
}

// adjacent buttons
.btn + .btn {
    margin-left: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

html,body {
    height: 100%;
}