//@import "~bootswatch/dist/default/variables";
@import "~bootstrap/scss/bootstrap";
//@import "~bootswatch/dist/default/bootswatch";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

@import '~@fortawesome/fontawesome-free/css/all.min.css';


// adjacent buttons
.btn + .btn {
    margin-left: 5px;
}

html,body {
    height: 100%;
}

.error-text {
    font-weight: bold;
    color: #f00;
}

.ws-pl {
    white-space: pre-line
}

.clickable {
    cursor: pointer;
}

/* drop down toggle */
.dropdown-toggle {

    /* icon */
    &.dropdown-toggle-icon {
        &::after {
            display: none;
        }
    }
}