
<div class="row">

  <div class="col-md-6">
    <app-card-group title="Details">
      <div>
        <app-text-field [(ngModel)]="model.username" name="username" [disabled]="viewMode$ | async"></app-text-field>
      </div>
      <div>
        <app-text-field [(ngModel)]="model.fullName" name="fullName" [disabled]="viewMode$ | async"></app-text-field>
      </div>
      <div>
        <app-text-field [(ngModel)]="model.email" name="email" [disabled]="viewMode$ | async"></app-text-field>
      </div>
    </app-card-group>

    <app-card-group title="Status">
      <div class="form-group">
        <label>Activated:</label> 
        <span class="ml-2">{{ model.isActivated ? 'Yes' : 'No' }}</span>
      </div>

      <div class="form-group">
        <button (click)="sendPasswordSetup(model.isActivated)" class="btn btn-primary">
          {{ model.isActivated ? "Reset Password" : "Send Setup Password Email" }}
        </button>
      </div>
    </app-card-group>
  </div>

  <div class="col-md-6">
    <app-card-group title="Roles">

      <div class="form-check mb-2" *ngFor="let role of roles$ | async">
        <input type="checkbox" class="form-check-input" [id]="role.id" [(ngModel)]="userRoles[role.id]" (change)="setRole(role.id)" [disabled]="viewMode$ | async">
        <label class="form-check-label" [for]="role.id">{{ role.name }}</label>
      </div>
      
    </app-card-group>
  </div>
</div>
