<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.title }}
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items$ | async">
      <td *ngFor="let col of columns">
        <a href="javascript:;;" *ngIf="col.isViewLink" (click)="view(item.id)">
          {{ item[col.model] }}
        </a>
        <ng-container *ngIf="!col.isViewLink">
          {{ item[col.model] }}
        </ng-container>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" (click)="edit(item.id)">Edit</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="delete(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <button type="button" class="btn btn-primary" (click)="create()">New</button>
      </td>
    </tr>
  </tfoot>
</table>

<app-entity-create-modal></app-entity-create-modal>
<app-entity-sub-grid-view-edit-modal></app-entity-sub-grid-view-edit-modal>
