<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.title }}
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items$ | async">
      <td *ngFor="let col of columns">
        <a href="javascript:;;" *ngIf="col.isViewLink" (click)="view(item.id)">
          {{ getColumnText(item, col) | async }}
        </a>
        <ng-container *ngIf="!col.isViewLink">
          {{ getColumnText(item, col) | async }}          
        </ng-container>
      </td>
      <td>
        <div *ngIf="mode == 'edit'">
          <button type="button" class="btn btn-primary btn-sm" (click)="edit(item.id)"><i class="fas fa-pencil-alt mr-1"></i> Edit</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="delete(item.id)"><i class="far fa-trash-alt mr-1"></i> Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="mode == 'edit'">
    <tr>
      <td colspan="10">
        <button type="button" class="btn btn-primary" (click)="create()"><i class="fas fa-plus mr-1"></i> New</button>
      </td>
    </tr>
  </tfoot>
</table>

<app-entity-create-modal></app-entity-create-modal>
<app-entity-sub-grid-view-edit-modal></app-entity-sub-grid-view-edit-modal>
