.user-context-menu {
    display: none;
    position: fixed;
    z-index: 9999;
    color: #000;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
    min-width: 300px;

    border-style: solid;
    border-color: #ececec;
    border-width: 0 1px 1px 1px;
    
    top: 50px;
    right: 5px;
    padding: 15px 20px;

    &.active {
        display: inline-block;
    }
}
