<div class="d-flex">
  <div class="mr-auto p-2">
    <app-entity-listing-views></app-entity-listing-views>
  </div>    
  <div class="p-2">
    <app-entity-listing-filters></app-entity-listing-filters>
  </div>
  <div class="p-2">
    <app-listing-controls (onRefresh)="refresh()" (onSetPageSize)="setPageSize($event)"></app-listing-controls>
  </div>
  <div class="p-2">
    <button type="button" class="btn btn-primary" (click)="openCreateDialog()">New</button>
  </div>
</div>

<div class="mb-sm-2">      
  <ng-content select="[filter]"></ng-content>
</div>
<div>
  <app-entity-listing-results></app-entity-listing-results>
</div>